  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  *, body {
    font-family: 'Roboto', sans-serif;
  }


.container {
  width: 1080px;
}

@media (max-width:767px) {
  .container {
    width: 100%;
  }
}

.font11px {
  font-size:11px;
}

.font12px {
  font-size:12px;
}

.font13px {
  font-size:13px;
}

.font14px {
  font-size:14px;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* p,h1,h2,h3,h4,h5,h6 {
  font-family: ;
} */


i.bi.bi-chevron-down,
i.bi.bi-chevron-up {
  font-size: 12px;
}

.header{
    background-color:#001C79;
    color: white ;
    /* border-bottom: 1px solid lightblue !important; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align:left;

}

.header:hover{
  background-color:white;
    color: #001C79;
}

.header:hover  .header-text {
  color: #001C79 !important;
}

.headerOffcanvas{
  border-bottom:1px solid white;

}

.top {
  top: 90%!important;
}

/* all page banner heading */
.banner-text-container{
  background-color: #810100;
  margin-top: -70px;
  font-size: 50px;
  line-height: 60px;
  padding: 40px;
  font-weight: bold;
  /* width: 29%; */
  display: inline-block;
}

@media(max-width:767px){
  .banner-text-container{
    margin-top: 0px;
    width: 100%;
    font-size: 35px;
  }
}


/* membership page */
.membershiph3{
  color:#810100 ;
  size: 30px;

}

.membershippara{
  color:#810100 ;
  size: 18px;

}


/* Home page  */

/* Latest Highlights */

.latest-heighliht-img-home {
  margin-left: 90px;
  margin-top: -70px;
  z-index: 1;
}

.custom-commite-loop-post {
  margin-left: -80px !important;
}

@media(max-width:767px) {
  .custom-commite-loop-post {
    margin-left: 0px !important;
    margin-top: -80px;
  }

  .custom-mobile-post {
    margin-top: 100px;
  }

  .latest-heighliht-img-home {
    margin-left: 0px;
    margin-top: 0pxs;
    z-index: 1;
  }
}

.modal-dialog {
  max-width: 80%; /* Set the max-width as needed */
  margin: 1.75rem auto; /* Adjust margin as needed */
}
/* ::marker{
  color:#001C79 ;
  size: 18px;
} */